<div id="<%= @contact.id %>">
<h2>Are you sure you want to delete this Contact?</h2>
<% form_for @contact, :html => { :method => 'delete' } do |f| %>
    <%= submit_tag "Yes" %>
    <%= submit_tag "No", :name => "cancel" %>
<% end %>
</div>